body {
  background-size: cover;
}

.myapp {
  width: 70%;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgb(252, 252, 252);
  height: 450px;
}
.search-box {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}
.todayall {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.location {
  text-align: left;
}
.city-location {
  font-size: 30px;
  font-family: "Belanosima", sans-serif;
}
.date {
  text-align: center;
}
.today {
  position: relative;
  font-size: 16px;
  left: 20px;
}
.tempreture {
  font-size: 60px;
  font-family: "Belanosima", sans-serif;
}
.units {
  position: relative;
  font-size: 16px;
  top: -26px;
}
.units .active {
  color: rgb(144, 143, 143);
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}
.humidty {
  position: relative;
  font-size: 14px;
  left: 15px;

  opacity: 0.5;
}
.wind {
  position: relative;
  font-size: 14px;
  left: 15px;
  opacity: 0.5;
}
.tem {
  position: relative;
  top: -6px;
}
.weather-icon {
  position: relative;
  font-size: 16px;
  top: -20px;
}
.forcast {
  margin-top: 20px;
  text-align: center;
  color: black;
  border: 2px solid gray;
  border-radius: 7px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
}
.each-day {
  border-right: 1px solid grey;
}
.forcast-date {
  font-weight: bold;
}
.min {
  color: rgb(5, 7, 169);
}
.max {
  color: rgb(190, 53, 7);
}
.myname {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: "Courgette", cursive;
}
.material-symbols-outlined {
  color: red;
}

.niu {
  border-radius: 768px;
}
@media (max-width: 768px) {
  .tempreture {
    font-size: 30px;
  }

  .city-location {
    font-size: 26px;
  }
  .container {
    size-adjust: 900px;
  }
  .today {
    font-size: 12px;
    left: 2px;
  }
  .humidty,
  .wind {
    font-size: 12px;
  }
  .myapp {
    width: 100%;
    margin-top: 14px;
  }
  .material-symbols-outlined {
    display: none;
  }
  .weatherDescription {
    font-size: 16px;
  }
  .search-btn {
    font-size: 15px;
  }
}
